---
title: Trash Indigo
---

<a href='https://www.amazon.com/Book-Love-1-Trash-Indigo-ebook/dp/B07TKHCCFZ' target=_blank>
  <div class='panel'>
    <h1>
      Trash Indigo
    </h1>
    <h2>on</h2>
    <img id=amzlogo src="images/Amazon_logo.svg" width=100px/>
  </div>
</a>
